.miniCart > div, .miniCart > button, .miniCartDropdownBasketRow > div,
.miniCartDropdownBasketRow img {
	display:inline-block;
}
.miniCart {
	width:200px;
	float:right;
	position: relative;
}
.miniCart > button {
	margin      : 0;
	border      : 0;
	padding: 5px;
	background-color: #e9e9e9;
	font-size   : 1em;
	cursor      : pointer;
}
.miniCart > div:first-child {
	border:1px solid #454545;
	padding: 5px;
	vertical-align: top;
	width: 105px;
	position: relative;
}
.miniCart .basketTotals {
	padding: 10px 0;
}
.miniCart span.loader{
	width:95%;
	background-color: #FFF;
	text-align: center;
	position: absolute;
}
.miniCartDropdown{
	width: 300px;
	position: absolute;
	right: 0;
	padding:10px;
}
.miniCartDropdown > ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;
}
.miniCartDropdown > button {
	width:100%;
	border:0;
}
.miniCartDropdownBasketRow {
	padding: 5px 2px;
	border-bottom:1px solid #e9e9e9;
}
.miniCartDropdownBasketRow:first-child{
	border-top:1px solid #e9e9e9;
}
.miniCartDropdownBasketRow img{
	 width:55px;
	 height:70px;
}
.miniCartDropdownBasketRow > div {
	vertical-align: top;
	padding: 0 10px;
}
.miniCartDropdownBasketRow > div.rowQuantity {
	text-align: center;
	width:10%;
}
.miniCartDropdownBasketRow .itemInfo {
	width:50%;
}
.miniCartDropdownBasketRow > div > p {
	margin: 2px;
	width: 100px;
}
.miniCartDropdownBasketRow > div > button {
	display:block;
	width:100%;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */